<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:authorities="${applicationId}.firebaseinitprovider"
            tools:node="remove" />
        <provider
            android:name="io.flutter.plugins.firebase.messaging.FlutterFirebaseMessagingInitProvider"
            android:authorities="${applicationId}.flutterfirebasemessaginginitprovider"
            tools:node="remove" />
        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            tools:node="remove" />
        <service
            android:name="io.flutter.plugins.firebase.messaging.FlutterFirebaseMessagingService"
            tools:node="remove" />
        <receiver
            android:name="io.flutter.plugins.firebase.messaging.FlutterFirebaseMessagingReceiver"
            tools:node="remove" />
        <activity-alias
            android:name="io.github.stillemptynow.promax.IntentEntry"
            android:exported="true"
            android:targetActivity="io.github.stillemptynow.promax.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="max.ru"/>
                <data android:scheme="https" android:host="www.max.ru"/>
                <data android:scheme="http" android:host="max.ru"/>
                <data android:scheme="http" android:host="www.max.ru"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="max"/>
            </intent-filter>
        </activity-alias>
    </application>
</manifest>
