<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>ProMax</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>MinimalIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>MinimalIcon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>ru</string>
		<string>en</string>
	</array>
	<key>CFBundleName</key>
	<string>ProMax</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>FlutterDeepLinkingEnabled</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
			<string>promax</string>
				<string>komet</string>
				<string>max</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tel</string>
		<string>telprompt</string>
		<string>sms</string>
		<string>mailto</string>
		<string>maps</string>
		<string>comgooglemaps</string>
		<string>yandexmaps</string>
		<string>yandexnavi</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Камера нужна для съёмки фото и видео в чатах, сканирования QR-кода входа и работы веб-приложений.</string>
	<key>NSContactsUsageDescription</key>
	<string>Доступ к контактам нужен, чтобы показывать имена собеседников так, как они записаны в вашей телефонной книге.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Face ID разблокирует ProMax вместо кода-пароля.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Геолокация нужна, чтобы отправлять ваше текущее местоположение в чатах.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Микрофон нужен для записи голосовых сообщений, видео и звонков.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Доступ к галерее нужен, чтобы сохранять полученные фото и видео.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Доступ к галерее нужен, чтобы отправлять фото и видео в чатах.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Геолокация нужна, чтобы вы могли отправить своё местоположение в чат.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Геолокация нужна, чтобы вы могли отправить своё местоположение в чат.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Распознавание речи нужно, чтобы превращать голосовые сообщения в текст.</string>

	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
